
/* Your CSS Code here. */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Poster styling */
.moviePic {
    height: 400px;
    width: 300px;
    opacity: 0.9;
    display: block;
    margin: 40px auto;
    border-radius: 10px;
}

/* Movie description styling */
.movieDetail {
    position: relative;
    top: 10px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}
